#artist-image {
	width: 30%;
	margin-top: 30px;
}

#start-button {
 font-size: 16px;
}

#player1-image {
	width: 25%;

}

#player2-image {
	width: 20%;

}

#player1-name {
	border-bottom: 3px solid #000000;
}

#player2-name {
	border-bottom: 3px solid #000000;
}

.row {
	margin-top: 30px;
}

.row-small {
	margin-top: 10px;
}

button {
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 16px;
}

.player-scores {
	margin-bottom: 30px;
}

span {
	padding: 10px;
}

#question {
	font-size: 22px;
}