body {
	background-image: url("../images/TreyRatcliff.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.jumbotron {
	background-color: #ffffff;
	border-bottom: 1px solid #000000;
}

video {
	width: 20%;
	position: absolute;
}

/*/////////////////////////////
///////////// WELCOME STYLES */

.youArePlayer {
	padding-top: 10px;
}

.userOverflow {
	padding-top: 10px;
}

.welcome, .welcome-overflow {
	height: 150px;
	line-height: 75px;
	background-color: #3498db;
	font-size: 22px;
	border: 1px solid #000000;
}

/*/////////////////////////////
/////////////// LOADING TEXT */

h3 {
	position: relative;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
}

h3:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 40%;
    white-space: nowrap;
    color: #ffffff;
    font-weight: bold;
    animation: loading 6s infinite;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

/*/////////////////////////////
/////////// HOME PAGE STYLES */

#video-placeholder {
	width: 300px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#start-button, #userName {
 	width: 20%;
 	height: 60px;
 	background-color: #ffffff;
 	border: 1px solid #000000;
}

#start-button {
 	font-size: 16px;
 	float: right;
 	margin-right: 28%;
}

#start-button:hover {
	background-color: #fdd865;
}

#userName:hover {
	background-color: #fdd865;
}

#userName {
 	font-size: 22px;
 	text-align: center;
 	float: left;
 	margin-left: 28%;
 	text-transform: capitalize;
}

/*/////////////////////////////
/////////// MAIN DIV SECTION */

.main {
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
  	background-color: #ffffff;
  	border: 1px solid #000000;
}

#timer, #gameTimer {
 	font-size: 22px;
}

#timer, #gameTimer {
 	margin-top: 10px;
}

#question {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
}


/*.img-circle{
	display: inline-block;
	height:100px;
	width:70px;
}*/

.correctSelect {
	color: #32a320;
}

.incorrectSelect {
	color: #ff3205;
}

/*/////////////////////////////
////////////// PLAYER STYLES */


#player1-image {
	width: 40%;
}

#player2-image {
	width: 40%;
}

#player1-name {
	font-size: 24px;
	border-bottom: 5px solid #ab241c;
	margin-bottom: 10px;
}

#player2-name {
	font-size: 24px;
	border-bottom: 5px solid #5d9ad1;
	margin-bottom: 10px;
}

#player1-wins, #player2-wins {
	padding: 10px;
}

#player1-losses, #player2-losses {
	padding: 10px;
}

#answer1, #answer2, #answer3, #answer4 {
	margin-top: 10px;
}

/*/////////////////////////////
////////////// BUTTON SYTLES */

button {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	text-align: center;
}

/*/////////////////////////////
//////////////// CHAT STYLES */

#chat {
  height: 150px;
}

#chat-messages {
  margin-top: 5px;
  height: 125px;
  overflow: auto;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

#chat-bar {
}

#chat-input {
 	font-size: 22px;
 	text-align: center;
 	float: left;
 	width: 80%;
 	height: 60px;
 	background-color: #ffffff;
 	border: 1px solid #000000;
}

#chat-send {
 	font-size: 16px;
 	float: right;
 	width: 20%;
 	height: 60px;
 	background-color: #ffffff;
 	border: 1px solid #000000;
}

#chat-send:hover {
 	background-color: #fdd865;
}

.player0 {
  color: #000;
  background-color: #d3d3d3;
}


/*/////////////////////////////
//////////////// modal end screen */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color:  rgba(0,0,0,0.4);
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 9px 16px;
	background-color: #5cb85c;
	color: white;
	margin-top: 8%;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
	from {top: -600px; opacity: 0}
	to {top: 0; opacity: 1}
}

@keyframes animatetop {
	from {top: -600px; opacity: 0;}
	to {top: 0; opacity: 1;}
}

/*/////////////////////////////
/////////////// VIDEO PLAYER */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:15px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media screen and (min-width: 992px) {
	.video-container iframe, .video-container object, .video-container embed {
		top:0;
		left:20.5%;
		width: 60%;
		height: 75%;
	}

	.video-container {
		padding-bottom:28%;
	}
}

@media screen and (max-width: 414px) {

	button {
	display: inline-block;
	width: 50%;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	}

	.main {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.jumbotron {
	
	}

	.video-container {
		margin-top: 2%;
	}

	#video-placeholder {
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 1px;
	}

	#start-button, #userName {
 	width: 44%;
 	height: 60px;
 	background-color: #ffffff;
 	border: 1px solid #000000;
 	margin-bottom: 15px;
	}

	#start-button {
 	font-size: 16px;
 	float: right;
 	margin-right: 28%;
 	background-color: #3498db;
	}

	#userName {
 	font-size: 22px;
 	text-align: center;
 	float: left;
 	margin-left: 28%;
 	text-transform: capitalize;
	}

	#timer, #gameTimer {
 	font-size: 18px;
	}

	#timer, #gameTimer {
	 	margin-top: 10px;
	}

	#question {
		font-size: 12px;
		margin-top: 8px;
		margin-bottom: 25px;
	}

	/*/////////////////////////////
	////////////// PLAYER STYLES */

/*	#player1-image {
		width: 20%;
	}

	#player2-image {
		width: 15%;
	}*/

	#player1-name {
		font-size: 18px;
		border-bottom: 4px solid #ab241c;
		margin-bottom: 8px;
	}

	#player2-name {
		font-size: 18px;
		border-bottom: 4px solid #5d9ad1;
		margin-bottom: 8px;
	}

	#player1-wins, #player2-wins {
		padding: 5px;
	}

	#player1-losses, #player2-losses {
		padding: 5px;
	}

	#answer1, #answer2, #answer3, #answer4 {
		margin-top: 5px;
	}

	#chat {
  		height: 100px;
	}

	#chat-messages {
	  margin-top: 2px;
	  height: px;
	}

	

}